@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(21, 18, 18);
}

.container .box {
  padding: 20px;
  margin-top: 40%;
  width: 250px;
  height: 380px;
  border: 2px solid #ffffff;
}

.container .box .portfolio {
  color: whitesmoke;
  font-size: 45px;
  letter-spacing: 15px;
}

.container .box .year {
  padding-top: 10px;
  color: #f2eeeb;
  font-weight: 100;
  font-size: 22px;
}

.line {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  border-top: 3px solid #d6ccc4;
}

.name {
  font-size: 25px;
  font-weight: 100;
  color: #d6ccc4;
  margin-bottom: 20px;
}

.description {
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 15px;
  margin-top: 1px;
  color: #d6ccc4;
}
